*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background: #16161a;
    --titles: #fffffe;
    --paragraphs: #94a1b2;
    --buttons: #7f5af0;
}

html {
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-color: var(--background);
    padding: 1rem 0;
}

p{
    color: var(--paragraphs);
    text-align: justify;
}

h1, i{
    font-size: 1.75rem; 
}

h1, h2, i{
    color: var(--titles); 
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    flex-direction: column;
}

.container{
    width: 80%;
    margin: auto;
    gap: 2rem;
}

header{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

main{
    gap: 1rem;
}

section{
    gap: .5rem;
}

@media (min-width: 500px){



}